<footer class="py-0" role="contentinfo">
    <div class="wrapper" id="wrapper-footer-innovation">
        <div class="container" id="footer-innovation">
            <div class="row">
                <div class="col">
                    <div class="d-flex footer-innovation-links">
                        <img alt="Number one in the U.S. for innovation. #1 ASU, #2 Stanford, #3 MIT. - U.S. News and World Report, 5 years, 2016-2020" src={{ footerlogo }} />
                        <nav aria-label="University Services" class="nav">
                            <a class="nav-link" href="https://www.asu.edu/map/">Maps and Locations</a> 
                            <a class="nav-link" href="https://www.asu.edu/asujobs">Jobs</a> 
                            <a class="nav-link" href="https://isearch.asu.edu/">Directory</a>
                            <a class="nav-link" href="https://www.asu.edu/contactasu/">Contact ASU</a> 
                            <a class="nav-link" href="https://my.asu.edu/">My ASU</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrapper" id="wrapper-footer-colophon">
        <div class="container" id="footer-colophon">
            <div class="row">
                <div class="col">
                    <nav aria-label="University Legal and Compliance" class="nav colophon">
                        <a class="nav-link" href="https://www.asu.edu/copyright/">Copyright and Trademark</a>
                        <a class="nav-link" href="https://www.asu.edu/accessibility/">Accessibility</a> 
                        <a class="nav-link" href="https://www.asu.edu/privacy/">Privacy</a> 
                        <a class="nav-link" href="https://www.asu.edu/tou/">Terms of Use</a> 
                        <a class="nav-link" href="https://www.asu.edu/emergency/">Emergency</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>
